<!DOCTYPE html>
<html lang="en">
<head>
    <title>FORM PAGE</title>
    <link rel="stylesheet" href="C:\Users\abira\Downloads\Templates\templates\static\demo_style.css">
</head>
<body>
    <div class="menu-bar">
        <ul>
        <li class="active"><a href="#"><h1>UNIVERSITY ADMIT ELIGIBILITY PREDICTOR</h1></a></li>
        </ul>
    </div>
    <div class="login-form">
        <form action="#" action="post">
<center><h1>YOU MAY HAVE A <strong>HIGH CHANCE</strong> OF GETTING ADMISSION</h1></center>
<img src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"/>
</form>
</body>
</html>

