<html>
<head>
<title>Home_page</title>

<link rel="stylesheet" href="C:\Users\abira\Downloads\Templates\templates\static\home_style.css">

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"> -->

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome-free/4.7.0/css/font-awesome.min.css"> -->
</head>
<body><form action="get">
<div class="menu-bar">
<ul>
<li class="active"><a href="#"><h1>UNIVERSITY ADMIT ELIGIBILITY PREDICTOR</h1></a></li>
<li class="sign"><a href="signin.html">SIGN UP</a></li>
<li class="log"><a href="login_page.html">LOG IN</a></li>
</ul>
</div>
</form>
</body>
</html>