<!DOCTYPE html>
<html lang="en">
<head>
    <title>SIGNIN PAGE</title>
    <link rel="stylesheet" href="static\signin_style.css">
</head>
<body>
    <div class="menu-bar">
        <ul>
        <li class="active"><a href="#"><h1>UNIVERSITY ADMIT ELIGIBILITY PREDICTOR</h1></a></li>
        <li class="sign"><a href="signin.html">SIGN UP</a></li>
        <li class="log"><a href="login_page.html">LOG IN</a></li>
        </ul>
        </div>
    <div class="login-form">
        <h1>Sign In</h1>
        <form action="#" action="post">


   <p>USER NAME : </p> <input type="name" name="email" value=" ">
   <p>Email ID : </p> <input type="mailid" name="email" value=" " >
   <p>Password : </p> <input type="password" name="pwd" value="" >
   <p>Already have an account ?<a href="login_page.html">Log in</a></p>
   <button type="SUBMIT" ><a href="Demo.html">Submit</a></button>
   
</form>
</div>
</body>
</html>